.pl {
  height: 100%;
  background: linear-gradient(45deg, #005aba, #222);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pl-texts {
  text-align: center;
}

.pl-title {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 600;
  color: #feb800;
}

.pl-desc {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 940px) {
  .pl {
    height: 100%;
    padding: 5rem 1rem 1rem 1rem;
  }

  .pl-texts {
    width: 100%;
  }
  .pl-title {
    font-size: 25px;
    margin: 10px;
  }
  .pl-desc {
    width: 100%;
    margin: 10px auto;
  }
}
