.cls {
  height: 100%;
  padding: 30px;
  background: linear-gradient(45deg, #005aba, #222);
}
.cls-title {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #feb800;
  text-align: center;
}
.cls-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 20px;
}
