.a {
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right {
  flex: 1;
}

.a-card {
  width: 60%;
  height: 70vh;
  position: relative;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 2rem;
}

.a-title {
  width: 400px;
  font-weight: 400;
  color: #4b6fff;
}

.a-sub {
  width: 400px;
  margin: 10px 0px;
  font-weight: 200;
  font-size: 18px;
  color: #fff;
}

.a-desc {
  font-weight: 200;
  font-size: 18px;
  line-height: 2;
  color: #fff;
}

@media screen and (max-width: 940px) {
  .a {
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
  }

  .a-left {
    width: 100%;
  }

  .a-card {
    height: 40vh;
  }
  .a-right {
    width: 100%;
  }
  .a-title {
    width: 100%;
  }
  .a-sub {
    width: 100%;
    padding: 0.5rem 1.5rem;
  }
  .a-desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
  }
}
