.p {
  width: 100%;
  height: 33vh;
  margin: 10px;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}

.p-browser {
  height: 20px;
  background-color: #fff;
  border-bottom: 3px solid #005aba;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  padding-right: 10px;
  z-index: 1;
}

.p-circle {
  width: 6px;
  height: 6px;
  margin: 3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.close {
  background-color: #ff605c;
}
.max {
  background-color: #ffbd44;
}
.min {
  background-color: #00ca4e;
}

.p-img {
  width: 100%;
  transition: all 15s ease;
  -webkit-transition: all 15s ease;
  -moz-transition: all 15s ease;
  -ms-transition: all 15s ease;
  -o-transition: all 15s ease;
}

.p:hover .p-img {
  transform: translateY(-82%);
  -webkit-transform: translateY(-82%);
  -moz-transform: translateY(-82%);
  -ms-transform: translateY(-82%);
  -o-transform: translateY(-82%);
}

@media screen and (max-width: 940px) {
  .p {
    height: 25vh;
  }
}
