.h {
  height: 100vh;
  position: relative;
  background: linear-gradient(45deg, #005aba, #222);
  overflow: hidden;
}
.cube {
  z-index: 1;
  position: absolute;
  top: -12%;
  left: 2.5%;
  font-size: 2.5rem;
  color: rgb(255, 255, 255, 0.5);
  animation: cube 14s linear infinite;
  -webkit-animation: cube 14s linear infinite;
}
.cube:nth-child(2) {
  animation-delay: 1s;
}
.cube:nth-child(3) {
  animation-delay: 2s;
}
.cube:nth-child(4) {
  animation-delay: 3s;
}
.cube:nth-child(5) {
  animation-delay: 4s;
}
.cube:nth-child(6) {
  animation-delay: 5s;
}
.cube:nth-child(7) {
  animation-delay: 6s;
}
.cube:nth-child(8) {
  animation-delay: 7s;
}
.cube:nth-child(9) {
  animation-delay: 8s;
}
.cube:nth-child(10) {
  animation-delay: 9s;
}
.cube:nth-child(11) {
  animation-delay: 10s;
}
.cube:nth-child(12) {
  animation-delay: 11s;
}
.cube:nth-child(13) {
  animation-delay: 12s;
}
.cube:nth-child(14) {
  animation-delay: 13s;
}

@keyframes cube {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    transform: translateY(150vh);
    -webkit-transform: translateY(150vh);
    -moz-transform: translateY(150vh);
    -ms-transform: translateY(150vh);
    -o-transform: translateY(150vh);
  }
}
.robotDiv {
  position: absolute;
  top: 150px;
  right: 100px;
  height: 85%;
}
.robotDiv img {
  height: 80%;
}
.tube1 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 200px;
  left: 400px;
  border: 3px solid #feb800;
}
.tube2 {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 200px;
  right: 600px;
  border: 3px solid #feb800;
}
.tube3 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100px;
  right: 500px;
  border: 3px solid #fff;
}
.tube4 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 300px;
  border: 3px solid #fff;
}
.h-wraper {
  width: 100%;
  position: absolute;
  top: 25%;
  left: -100px;
  height: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.h-intro {
  font-size: 25px;
  font-weight: 200;
  color: #fff;
  z-index: 2;
}
.h-name {
  font-size: 60px;
  color: #fff;
  z-index: 2;
}
.h-title {
  height: 50px;
  overflow: hidden;
  z-index: 2;
}
.h-title-wrapper {
  height: 100%;
  animation: move 15s ease infinite alternate;
  -webkit-animation: move 15s ease infinite alternate;
  animation-delay: 1s;
  z-index: 2;
}
@keyframes move {
  25% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
  }
}
.h-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  color: #feb800;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.h-desc {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  z-index: 2;
}
@media screen and (max-width: 940px) {
  .cube {
    display: none;
  }
  .tube1,
  .tube2,
  .tube3,
  .tube4 {
    display: none;
  }
  .h-wraper {
    height: 43%;
    left: 0;
  }
  .h-intro {
    font-size: 22px;
  }
  .h-title {
    height: 60px;
  }
  .h-title-wrapper {
    padding: 0;
  }
  .h-desc {
    font-size: 18px;
    line-height: 1.2;
  }
  .h-title-item {
    height: 50px;
    letter-spacing: 0;
    font-size: 24px;
  }
  .robotDiv {
    top: 600px;
    right: 30px;
  }
  .robotDiv img {
    height: 30%;
  }
}
