.c {
  background-color: #fff;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
  height: 80%;
  background-color: #005aba;
  margin-top: 50px;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-title {
  font-size: 50px;
  width: 100%;
  color: #fff;
  margin-bottom: 2rem;
}
.c-title span {
  color: #feb800;
}
.c-desc {
  font-weight: 300;
  width: 90%;
  color: #fff;
  margin-bottom: 2rem;
}
.c-desc span {
  color: #feb800;
}
.c-desc > b {
  color: #fff;
  font-size: 1.2rem;
}
.c-whatsapp,
.c-mail {
  background-color: #feb800;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  color: #222;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.c-mail {
  margin-bottom: 4rem;
}
.c-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  color: #222;
}
.c-social {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.facebook {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.facebook:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.twitter {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.twitter:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.youtube {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.youtube:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.instagram {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.instagram:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.github {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.github:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  width: 60%;
  height: 45px;
  border: none;
  background-color: transparent;
  color: #fff;
  margin: 10px 30px 10px 0px;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 2px solid #feb800;
  outline: none;
}
input::placeholder {
  color: #fff;
}

textarea {
  width: 100%;
  height: 200px;
  margin: 20px 0px;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #feb800;
  color: #fff;
  outline: none;
}
textarea::placeholder {
  color: #fff;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #feb800;
  color: #222;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #feb800;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.thanks {
  color: #fff;
  margin-top: -35px;
  padding-left: 15rem;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .c {
    padding: 1.5rem 0.5rem;
  }
  .container {
    width: 100%;
    height: 95%;
    margin-top: 70px;
    margin-bottom: 0.75rem;
  }
  .c-wrapper {
    flex-direction: column;
    padding: 0 1rem;
  }
  .c-whatsapp,
  .c-mail {
    padding: 0.5rem 1rem;
    margin: 1rem auto;
  }
  .c-title {
    width: 100%;
    font-size: 25px;
    margin: 1rem 0;
    text-align: center;
  }
  .c-info-item {
    margin: 30px 0px 20px 0px;
    width: 100%;
  }
  .c-social {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  .facebook {
    font-size: 30px !important;
    margin-right: 10px;
  }
  .twitter {
    font-size: 30px !important;
    margin: 10px;
  }
  .youtube {
    font-size: 30px !important;
    margin: 10px;
  }
  .instagram {
    font-size: 30px !important;
    margin: 10px;
  }
  .github {
    font-size: 30px !important;
    margin: 10px;
  }

  .c-desc {
    display: none;
  }

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 100%;
    height: 40px;
    margin: 10px auto;
  }
  textarea {
    height: 150px;
    margin: 10px auto;
  }

  button {
    width: 100%;
    margin: 10px auto;
  }
  .thanks {
    margin-top: 5px;
    padding-left: 0.75rem;
    text-align: center;
  }
}

