.c {
  background-color: #000;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #4b6fff;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-title {
  font-size: 60px;
  width: 80%;
  color: #4b6fff;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 70%;
  color: #fff;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  color: #4b6fff;
}
.c-social {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.facebook {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.facebook:hover {
  color: #1877f2;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.twitter {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.twitter:hover {
  color: #1da1f2;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.youtube {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.youtube:hover {
  color: #ff0000;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.instagram {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.instagram:hover {
  color: #c13584;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.github {
  color: #fff;
  font-size: 30px !important;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
}
.github:hover {
  color: #6cc644;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-desc {
  font-weight: 200;
  color: #fff;
}
.c-desc > b {
  color: #4b6fff;
}

form {
  margin-top: 20px;
}

input {
  width: 45%;
  height: 50px;
  border: none;
  background-color: #111;
  border: 1px solid #4b6fff;
  color: #4b6fff;
  margin: 10px 30px 10px 0px;
  font-size: 14px;
  padding-left: 20px;
  outline: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
input::placeholder {
  color: #4b6fff;
}
textarea {
  width: 100%;
  height: 300px;
  margin: 20px 0px;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #111;
  border: 1px solid #4b6fff;
  color: #4b6fff;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
textarea::placeholder {
  color: #4b6fff;
}

button {
  border: none;
  padding: 10px 40px;
  background-color: #2b55fd;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.thanks {
  color: #2b55fd;
  margin-top: -35px;
  padding-left: 11rem;
}
@media screen and (max-width: 940px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0 3rem;
  }

  .c-title {
    width: 100%;
    font-size: 26px;
    margin-top: 1rem;
  }

  .c-info-item {
    margin: 30px 0px 20px 0px;
    width: 100%;
  }
  .c-social {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  .facebook {
    font-size: 30px !important;
    margin-right: 10px;
  }
  .twitter {
    font-size: 30px !important;
    margin: 10px;
  }
  .youtube {
    font-size: 30px !important;
    margin: 10px;
  }
  .instagram {
    font-size: 30px !important;
    margin: 10px;
  }
  .github {
    font-size: 30px !important;
    margin: 10px;
  }

  .c-desc {
    display: none;
  }

  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 100%;
    height: 40px;
    margin: 10px;
  }
  textarea {
    height: 150px;
    margin: 20px 10px;
  }

  button {
    width: 100%;
    margin: 10px;
  }
  .thanks {
    margin-top: 5px;
    padding-left: 0.75rem;
    text-align: center;
  }
}
