.n {
  position: absolute;
  top: 30%;
  left: 46%;
  z-index: 99999;
}
.click {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 40px;
  transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  animation: pouncing 0.75s ease-in-out infinite alternate;
  -webkit-animation: pouncing 0.75s ease-in-out infinite alternate;
}
@keyframes pouncing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul {
  display: flex;
  align-items: center;
  transform: rotate(-62.5deg);
  -webkit-transform: rotate(-62.5deg);
  -moz-transform: rotate(-62.5deg);
  -ms-transform: rotate(-62.5deg);
  -o-transform: rotate(-62.5deg);
}
li {
  margin-right: 20px;
  text-align: center;
}
a {
  font-size: 18px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
}
@media screen and (max-width: 480px) {
  .n {
    top: 10px;
    left: 10px;
  }

  ul {
    background-color: white;
    border-radius: 20px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  li {
    margin-right: 10px;
  }
  a {
    font-size: 18px;
    padding-right: 0px;
    color: #222;
  }
}
