.t {
  width: 52px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #6846c5;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.t-icon {
  width: 15px;
  height: 15px;
}
.t-icon.sun {
  font-size: 18px;
  color: #6846c5;
}
.t-icon.moon {
  font-size: 18px;
  margin-top: 1px;
  color: #6846c5;
  transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
  -moz-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  -o-transform: rotate(145deg);
}

.t-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6846c5;
  position: absolute;
  cursor: pointer;
  margin-left: 2px;
}
