* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
  background: linear-gradient(#005aba, #222);
  border-left: 1px solid #feb800;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #feb800);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
